<html>
<body>
<p>
Hello world test attila
</p>



<p>
<%= name %>
</p>



<p class="feed">
<% content.forEach(function(item){ %>
  <p id="individual_feed"><%= item.text %></p>
  <p id="individual_feed"><%= item.created_at %></p>
  <p id="individual_feed"><%= item.user.id %></p>
<% }) %>
</p>







</body>
</html>